version: 0.65.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - spotify_track

streams:
  - type: DeclarativeStream
    name: spotify_track
    primary_key:
      - uuid
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          artists:
            items:
              properties:
                name:
                  type: string
                slug:
                  type: string
                uuid:
                  type: string
              type: object
            type: array
          genre:
            properties:
              id:
                type: number
              name:
                type: string
              slug:
                type: string
            type: object
          image:
            type: string
          isrc:
            type: string
          name:
            type: string
          release_date:
            type: string
          sample:
            type: string
          slug:
            type: string
          uuid:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://data.viberate.com/api/v1/
        path: "track/by-channel/spotify/{{ stream_partition.track_id }}"
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            field_name: Access-Key
            inject_into: header
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: NoPagination
      partition_router:
        - type: ListPartitionRouter
          values: ["4E9SRPCUYfCccpsOlpxoGl"]
          cursor_field: track_id

spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true
  type: Spec
metadata:
  autoImportSchema:
    spotify_track: true
