version: 0.65.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - spotify_track

definitions:
  requester:
    type: HttpRequester
    url_base: https://data.viberate.com/api/v1/
    http_method: GET
    request_parameters: {}
    request_headers: {}
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config[''api_key''] }}'
      inject_into:
        type: RequestOption
        field_name: Access-Key
        inject_into: header
    request_body_json: {}
    error_handler:
      response_filters:
          - http_codes: [ 404 ]
            action: IGNORE

  paginator:
    type: "DefaultPaginator"
    page_size_option:
      type: "RequestOption"
      inject_into: "request_parameter"
      field_name: "limit"
    pagination_strategy:
      type: "OffsetIncrement"
      page_size: 10
    page_token_option:
      type: "RequestOption"
      field_name: "offset"
      inject_into: "request_parameter"
  
  partition_router:
    type: CustomPartitionRouter
    class_name: source_viberate.components.SpotifyPartitionRouter
    cursor_field: spotify_id

  spotify_track:
    type: DeclarativeStream
    name: spotify_track
    primary_key:
      - uuid
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          artists:
            items:
              properties:
                name:
                  type: string
                slug:
                  type: string
                uuid:
                  type: string
              type: object
            type: array
          genre:
            properties:
              id:
                type: number
              name:
                type: string
              slug:
                type: string
            type: object
          image:
            type: string
          isrc:
            type: string
          name:
            type: string
          release_date:
            type: string
          sample:
            type: string
          slug:
            type: string
          uuid:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "track/by-channel/spotify/{{ stream_partition.spotify_id }}"
      partition_router:
        $ref: "#/definitions/partition_router"
        entity_name: 'track'
      paginator:
        type: NoPagination

  
  spotify_artist:
    type: DeclarativeStream
    name: spotify_artist
    primary_key:
      - uuid
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          country:
            properties:
              alpha2:
                type: string
              continent_code:
                type: string
              name:
                type: string
              slug:
                type: string
            type: object
          genre:
            properties:
              id:
                type: number
              name:
                type: string
              slug:
                type: string
            type: object
          image:
            type: string
          name:
            type: string
          rank:
            type: number
          slug:
            type: string
          status:
            type: string
          subgenres:
            items:
              properties:
                id:
                  type: number
                name:
                  type: string
                slug:
                  type: string
              type: object
            type: array
          uuid:
            type: string
          verified:
            type: boolean
        type: object
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/by-channel/spotify/{{ stream_partition.spotify_id }}"
      partition_router:
        $ref: "#/definitions/partition_router"
        entity_name: 'artist'
      paginator:
        type: NoPagination

  
  spotify_artist_tracks:
    type: DeclarativeStream
    name: spotify_artist_tracks
    primary_key:
      - uuid
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          data:
            items:
              properties:
                artists:
                  items:
                    properties:
                      name:
                        type: string
                      slug:
                        type: string
                      uuid:
                        type: string
                    type: object
                  type: array
                image:
                  type: string
                link_id:
                  type: string
                release_date:
                  type: string
                sample:
                  type: string
                slug:
                  type: string
                streams_12m:
                  type: number
                streams_1m:
                  type: number
                streams_1m_growth:
                  type: number
                streams_1w:
                  type: number
                streams_1w_growth:
                  type: number
                streams_all:
                  type: number
                title:
                  type: string
                uuid:
                  type: string
              type: object
            type: array
          name:
            type: string
          slug:
            type: string
          uuid:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data","data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/spotify/tracks"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

streams:
  - "#/definitions/spotify_track"
  - "#/definitions/spotify_artist"
  - "#/definitions/spotify_artist_tracks"

spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
      - gcp_credentials
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      gcp_credentials:
        type: string
        title: GCP Credentials JSON
        airbyte_secret: true
        order: 1
        multiline: true
    additionalProperties: true
  type: Spec
metadata:
  autoImportSchema:
    spotify_track: true
    spotify_artist: true
    spotify_artist_tracks: true
