version: 0.65.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - spotify_track

definitions:
  requester:
    type: HttpRequester
    url_base: https://data.viberate.com/api/v1/
    http_method: GET
    request_parameters: {}
    request_headers: {}
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config[''api_key''] }}'
      inject_into:
        type: RequestOption
        field_name: Access-Key
        inject_into: header
    request_body_json: {}
    error_handler:
      response_filters:
          - http_codes: [ 404 ]
            action: IGNORE
          - http_codes: [ 429 ]
            action: RETRY
      backoff_strategies:
          - type: "ConstantBackoffStrategy"
            backoff_time_in_seconds: 30

  paginator:
    type: "DefaultPaginator"
    page_size_option:
      type: "RequestOption"
      inject_into: "request_parameter"
      field_name: "limit"
    pagination_strategy:
      type: "OffsetIncrement"
      page_size: 10
    page_token_option:
      type: "RequestOption"
      field_name: "offset"
      inject_into: "request_parameter"
  
  partition_router:
    type: CustomPartitionRouter
    class_name: source_viberate.components.SpotifyPartitionRouter
    cursor_field: spotify_id

  spotify_track:
    type: DeclarativeStream
    name: spotify_track
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_track.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "track/by-channel/spotify/{{ stream_partition.spotify_id }}"
      partition_router:
        $ref: "#/definitions/partition_router"
        entity_name: 'track'
      paginator:
        type: NoPagination

  spotify_artist:
    type: DeclarativeStream
    name: spotify_artist
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_artist.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/by-channel/spotify/{{ stream_partition.spotify_id }}"
      partition_router:
        $ref: "#/definitions/partition_router"
        entity_name: 'artist'
      paginator:
        type: NoPagination
    
  spotify_artist_tracks:
    type: DeclarativeStream
    name: spotify_artist_tracks
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_artist_tracks.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data","data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/spotify/tracks"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

streams:
  - "#/definitions/spotify_track"
  - "#/definitions/spotify_artist"
  - "#/definitions/spotify_artist_tracks"

spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
      - gcp_credentials
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      gcp_credentials:
        type: string
        title: GCP Credentials JSON
        airbyte_secret: true
        order: 1
        multiline: true
    additionalProperties: true
  type: Spec
metadata:
  autoImportSchema:
    spotify_track: true
    spotify_artist: true
    spotify_artist_tracks: true
