version: 0.65.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - festivals

definitions:
  requester:
    type: HttpRequester
    url_base: https://data.viberate.com/api/v1/
    http_method: GET
    request_parameters: {}
    request_headers: {}
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config[''api_key''] }}'
      inject_into:
        type: RequestOption
        field_name: Access-Key
        inject_into: header
    request_body_json: {}
    error_handler:
      response_filters:
          - http_codes: [ 404 ]
            action: IGNORE
          - http_codes: [ 500 ]
            action: IGNORE
          - http_codes: [ 429 ]
            action: RETRY
      backoff_strategies:
          - type: "ConstantBackoffStrategy"
            backoff_time_in_seconds: 30

  paginator:
    type: "DefaultPaginator"
    page_size_option:
      type: "RequestOption"
      inject_into: "request_parameter"
      field_name: "limit"
    pagination_strategy:
      type: "OffsetIncrement"
      page_size: 10
    page_token_option:
      type: "RequestOption"
      field_name: "offset"
      inject_into: "request_parameter"
  
  partition_router:
    type: CustomPartitionRouter
    class_name: source_viberate.components.SpotifyPartitionRouter
    cursor_field: spotify_id

  spotify_track_artists:
    type: DeclarativeStream
    name: spotify_track_artists
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_track_artists.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data", "artists", "*" ]
      requester:
        $ref: "#/definitions/requester"
        path: "track/by-channel/spotify/{{ stream_partition.spotify_id }}"
      partition_router:
        $ref: "#/definitions/partition_router"
        entity_name: 'track'
      paginator:
        type: NoPagination

  spotify_artist_lookup:
    type: DeclarativeStream
    name: spotify_artist_lookup
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_artists.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/by-channel/spotify/{{ stream_partition.spotify_id }}"
      partition_router:
        $ref: "#/definitions/partition_router"
        entity_name: 'artist'
      paginator:
        type: NoPagination
    
  spotify_artists:
    type: DeclarativeStream
    name: spotify_artists
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_artists.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/details"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist_lookup"
            parent_key: "uuid"
            partition_field: "parent_id"
          - stream: "#/definitions/spotify_track_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        type: NoPagination

  spotify_artist_links:
    type: DeclarativeStream
    name: spotify_artist_links
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_artist_links.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data","data" ]
        record_filter:
          condition: "{{ record['channel'] == 'spotify' }}"
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/links"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        type: NoPagination
    transformations:
      - type: AddFields
        fields:
          - path: [ "uuid" ]
            value: "{{ stream_partition.parent_id }}"

  spotify_tracks:
    type: DeclarativeStream
    name: spotify_tracks
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_tracks.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data","data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/spotify/tracks"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist_lookup"
            parent_key: "uuid"
            partition_field: "parent_id"
          - stream: "#/definitions/spotify_track_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

  tiktok_fanbase:
    type: DeclarativeStream
    name: tiktok_fanbase
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/tiktok_fanbase.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/tiktok/fanbase-historical"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist_lookup"
            parent_key: "uuid"
            partition_field: "parent_id"
          - stream: "#/definitions/spotify_track_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

  tiktok_likes:
    type: DeclarativeStream
    name: tiktok_likes
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/tiktok_likes.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/tiktok/likes-historical"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist_lookup"
            parent_key: "uuid"
            partition_field: "parent_id"
          - stream: "#/definitions/spotify_track_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

  instagram_fanbase:
    type: DeclarativeStream
    name: instagram_fanbase
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/instagram_fanbase.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/instagram/fanbase-historical"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist_lookup"
            parent_key: "uuid"
            partition_field: "parent_id"
          - stream: "#/definitions/spotify_track_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

  instagram_likes:
    type: DeclarativeStream
    name: instagram_likes
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/instagram_likes.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/instagram/likes-historical"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist_lookup"
            parent_key: "uuid"
            partition_field: "parent_id"
          - stream: "#/definitions/spotify_track_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

  spotify_fanbase:
    type: DeclarativeStream
    name: spotify_fanbase
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_fanbase.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/spotify/fanbase-historical"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist_lookup"
            parent_key: "uuid"
            partition_field: "parent_id"
          - stream: "#/definitions/spotify_track_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

  spotify_streams:
    type: DeclarativeStream
    name: spotify_streams
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/spotify_streams.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "artist/{{ stream_partition.parent_id }}/spotify/streams-historical"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/spotify_artist_lookup"
            parent_key: "uuid"
            partition_field: "parent_id"
          - stream: "#/definitions/spotify_track_artists"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        $ref: "#/definitions/paginator"

  festivals:
    type: DeclarativeStream
    name: festivals
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/festivals.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "festival/viberate/chart"
      paginator:
        $ref: "#/definitions/paginator"

  festival_editions:
    type: DeclarativeStream
    name: festival_editions
    primary_key:
      - edition_uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/festival_editions.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data","data", "*", "*" ]
      requester:
        $ref: "#/definitions/requester"
        path: "festival/{{ stream_partition.parent_id }}/editions"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/festivals"
            parent_key: "uuid"
            partition_field: "parent_id"
      paginator:
        type: NoPagination
    transformations:
      - type: AddFields
        fields:
          - path: [ "uuid" ]
            value: "{{ stream_partition.parent_id }}"

  festival_lineups:
    type: DeclarativeStream
    name: festival_lineups
    primary_key:
      - uuid
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_viberate/schemas/festival_lineups.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [ "data","data" ]
      requester:
        $ref: "#/definitions/requester"
        path: "festival/{{ stream_slice.parent_slice.parent_id }}/lineup"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/festival_editions"
            parent_key: "edition_uuid"
            partition_field: "parent_id"
            request_option:
              type: RequestOption
              field_name: "edition_uuid"
              inject_into: "request_parameter"
      paginator:
        type: NoPagination
    transformations:
      - type: AddFields
        fields:
          - path: [ "edition_uuid" ]
            value: "{{ stream_slice.parent_id }}"

streams:
  - "#/definitions/spotify_artist_links"
  - "#/definitions/spotify_tracks"
  - "#/definitions/spotify_artists"
  - "#/definitions/spotify_fanbase"
  - "#/definitions/spotify_streams"
  - "#/definitions/festivals"
  - "#/definitions/festival_editions"
  - "#/definitions/festival_lineups"
  - "#/definitions/tiktok_fanbase"
  - "#/definitions/tiktok_likes"
  - "#/definitions/instagram_fanbase"
  - "#/definitions/instagram_likes"

spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
      - gcp_credentials
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      gcp_credentials:
        type: string
        title: GCP Credentials JSON
        airbyte_secret: true
        order: 1
        multiline: true
    additionalProperties: true
  type: Spec
metadata:
  autoImportSchema:
    spotify_track_artists: true
    spotify_artist_links: true
    spotify_artist_lookup: true
    spotify_tracks: true
    spotify_artists: true
    festivals: true
    festival_editions: true
    festival_lineups: true
    tiktok_fanbase: true
    tiktok_likes: true
    instagram_fanbase: true
    instagram_likes: true
    spotify_fanbase: true
    spotify_streams: true
